a {
	color: black;
	text-decoration: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
html {
	font-family: "Sans-Serif";
	color: gray;
}

@media only screen and (min-width: 500px)
{
	.navigation {
		width: 100%;
		text-align: center;	
	}
}
@media only screen and (min-width: 0px) {
	.navigation {
		position: fixed;
	}
}

.current {
	color: red;
}
.postlist {
	
}
